:root {
    --primary: #2c3e50;
    --accent-prosa: #e67e22;
    --accent-visual: #8e44ad;
    --accent-rhetoric: #c0392b;
    --accent-themes: #2980b9;
    --bg: #f4f7f6;
    --white: #ffffff;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg);
    margin: 0;
    padding: 0;
}

.foscolo {
    width: 100%;
    height: 320px; 
    background-image: url("foscolo.jpeg");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


span {
    color: white;
    font-size: 100px;
    font-weight: 200;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 30px auto 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: var(--primary);
    color: #2c3e50;
    border-bottom: 3px solid #2c3e50;
    padding-bottom: 10px;
}

.btn-print {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background: var(--primary);
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.img-btns {
    display: flex;
    margin: 20px 0 0 0;
    justify-content: center;
    gap: 10px;
}

#deleteBtn,
#rotateBtn,
#grayscaleeBtn,
#blurBtn {
    width: 120px;
    padding: 5px;
    background: var(--primary);    
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.student-info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

strong {
    color: #2c3e50;
}

input {
    border: none;
}

h2 {
    border-left: 5px solid;
    padding-left: 15px;
    font-size: 20px;
    margin-top: 40px;
}

.section {
    margin-top: 10px;
    padding: 20px;
    display: grid;
    border: 1px solid;
    border-radius: 10px;
}

textarea {
    border-radius: 5px;
    border: 1px solid gray;
    min-height: 250px;
    padding: 10px 10px 10px 10px;
    /* font-size: 20px; */
}

#drop-area {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    height: auto;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    color: #888;
    cursor: pointer;
    overflow: hidden;
}

#drop-area:hover {
    border-color: blue;
    color: blue;
}

#drop-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.drag-btn {
    display: none;
}

h3 {
    font-size: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    background-color: #fafafa;
    padding: 8px;
    border-radius: 8px;
}

.altro {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .student-info {
        flex-direction: column;
        gap: 10px;
    }

    .img-btns {
        /* flex-direction: column;
        gap: 10px;
        justify-self: center; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        /* justify-content: center;
        align-items: center; */
        margin: 30px;
    }

    span {
        color: white;
        font-size: 40px;
        /* font-weight: 200; */
        text-align: center;
        font-family: "Roboto Condensed", sans-serif;
        letter-spacing: 2px;
        font-weight: bold;
    }
}

@media print {
    .section {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    h2 + .section {
        page-break-before: avoid;
        break-before: avoid;
    }

    .block {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    .btn-print {
        display: none;
    }

    .container {
        padding: 20px;
    }

    .body {
        margin: 0;
    }

    #deleteBtn,
    #rotateBtn,
    #grayscaleeBtn,
    #blurBtn,
    .foscolo {
        display: none;
    }

}

@page {
    margin: 0;
}